@import "tailwindcss";

body {
  margin: 0;
  background: #F7F1E6;
  font-family: inter, sans-serif;
}

.playpen {
  font-family: "Playpen Sans", cursive;
}
@keyframes floatArrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-arrow {
  animation: floatArrow 1.2s ease-in-out infinite;
}
@theme {
  --animate-swing: swing 2.5s ease-in-out infinite;

  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(12deg);
    }
    40% {
      transform: rotate(-12deg);
    }
    60% {
      transform: rotate(8deg);
    }
    80% {
      transform: rotate(-8deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}